@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-right: 100px;
  padding-left: 100px;
  margin: 0;
}

@media screen and (min-width: 350px) and (max-width: 640px) {
  body {
    padding-right: 35px;
    padding-left: 35px;
  }
}

#fileInput {
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

#file-upload-button {
  color: #c42727;
}
